* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topbar {
  padding: 15px 30px;
  align-self: flex-end;
  display: flex;
  justify-content: row;
  height: 30px;
}

.topbar a {
  color: #333;
  text-decoration: none;
  line-height: 30px;
  font-size: 14px;
  margin-left: 15px;
}

.topbar a:hover {
  color: #555;
  text-decoration: underline;
}

.signinbtn {
  outline: none;
  background-color: #4285f4;
  font-weight: 800;
  color: white;
  height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  border: none;
}

.otherapps {
  background-image: url(otherapps.png);
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
  background-position: -132px -38px;
  opacity: .55;
  margin: 0 15px;
  cursor: pointer;
}

.otherapps:hover {
  opacity: 0.75;
}

.maincontent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.inputgroup {
  height: 46px;
  border-radius: 23px;
  width: 100%;
  max-width: 580px;
  border: 1px solid #dfe1e5;
  display: flex;
  align-items: center;
}
.inputgroup img {
  margin: 0 15px;
}
.search-icon {
  height: 20px;
  opacity: .4;
}

.voice-icon {
  height: 24px;
}

.searchinput {
  flex-grow: 1;
  outline: none;
  height: 100%;
  padding: 2px 0;
  border: none;
  color: rgba(0,0,0,.87);
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}

.searchbtngroup {
  display: flex;
  gap: 10px;
}

.searchbtngroup button {
  outline: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px 15px;
  border: none;
  color: #5F6368;
  font-size: 14px;
}

.bottombar {
  height: 50px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 1200px) {
  .inputgroup {
    max-width: 480px;
  }
}